{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ideas</h1>

    {{ include('idea/_form.html.twig') }}

    {% for idea in ideas %}
        <div class="card border-dark mb-3">
            <div class="card-header">
                <span class="badge badge-primary badge-pill">{{ idea.upvote }}</span>
                <a href="{{ path('idea_upvote', {'id' : idea.id}) }}"><i class="fas fa-arrow-up">Up</i></a>
                <a href="{{ path('idea_unvote', {'id' : idea.id}) }}"><i class="fas fa-arrow-down">Unvote</i></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ idea.name }}</h5>
                <p class="card-text">{{ idea.date ? idea.date|date('d-m-Y H:i') : '' }}</p>

                {% if is_granted('ROLE_ADMIN') %}
                    <button class="btn btn-light"><a href="{{ path('idea_edit', {'id': idea.id}) }}">edit</a></button>
                    {{ include('idea/_delete_form.html.twig') }}
                {% endif %}

            </div>
        </div>

    {% else %}
        <p>no records found</p>
    {% endfor %}

{% endblock %}